@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*landing page*/
*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
}

body.landing {
    background-color: var(--dark);
    height: 100vh;
    background-size: 400%;
    font-family: 'Poppins';
}

header.landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

.box-img-header.landing {
    height: 100%;
}

.img-logo.landing {
    max-width: 70px;
    height: 100%;
}

nav.landing {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links.landing {
    text-decoration: none;
    color: var(--white);
}

.nav-links.landing:hover {
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions.landing {
    display: flex;
    gap: 1rem;
}

:is(button.landing, .link-action.landing) {
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action.landing {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action.landing:hover {
    background-color: var(--dark3);
    border: 1px solid var(--dark3);
}

.link-action.landing {
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main.landing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.landing {
    padding: 4rem;
}

.first-section.landing {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section.landing > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1.landing {
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

strong.landing {
    color: var(--cyan1);
}

.first-section.landing p {
    color: var(--white);
}

.box-img-main.landing {
    max-width: 450px;
    padding: 1rem;
}

.second-section.landing {
    background-color: var(--dark2);
    gap: 2rem;
    justify-content: center;
    padding: 4rem;
}

.title.landing {
    color: var(--dark5);
}

.third-section.landing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: justify;
    padding: 4rem;
}

.second-section.landing p, .third-section.landing p {
    text-align: justify;
    color: var(--white);
}

.second-section.landing h2, .third-section.landing h2 {
    margin-bottom: 1rem;
}

footer.landing {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--dark2);
}

footer.landing > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
*/