{% load static %}
<!DOCTYPE html>
<html>
    <head class="dashboard">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
    </head>
    <body class="dashboard">
        <div class="grid-container dashboard">
            <header class="header dashboard">
                <div class="menu-icon dashbboard" onclick="openSidebar()">
                    <span class="material-icons-outlined dashboard">menu</span>
                </div>
                <div class="header-left dashboard">
                    <span class="material-icons-outlined">search</span>
                </div>
                <div class="header-right dashbboard">
                    <span class="material-icons-outlined">notifications</span>
                    <span class="material-icons-outlined">email</span>
                    <span class="material-icons-outlined">account circle</span>
                </div>
            </header>

            <aside id="sidebar">
                <div class="sidebar-title dashboard">
                  <div class="sidebar-brand dashboard">
                    <span class="material-icons-outlined">inventory</span> User's Inventory
                  </div>
                  <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>
        
                <ul class="sidebar-list dashboard">
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                      <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">person</span> Profile
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">wallet</span> Wallet
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                      <span class="material-icons-outlined">poll</span> Reports
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">help</span> Help
                    </a>
                  </li>
                  <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                      <span class="material-icons-outlined">settings</span> Settings
                    </a>
                  </li>
                </ul>
            </aside>

            <main class="main-container sahboard">
                <div class="main-title dashboard">
                    <p class="font-weight-bold">DASHBOARD</p>
                </div>

                <div class="main-cards dashboard">

                    <div class="card dashboard">
                        <div class="card-inner dashboard">
                            <p class="text-primary"> CLASS 1 </p>
                            <span class="material-icons-outlined text-blue">inventory_2</span>
                        </div>
                         <span class="text-primary font-weight-bold">249</span>
                    </div>

                    <div class="card dashboard">
                      <div class="card-inner dashboard">
                          <p class="text-primary"> CLASS 2</p>
                          <span class="material-icons-outlined text-blue">add_shopping_cart</span>
                      </div>
                       <span class="text-primary font-weight-bold">83</span>
                    </div>

                    <div class="card dashboard">
                      <div class="card-inner dashboard">
                          <p class="text-primary">CLASS 3</p>
                          <span class="material-icons-outlined text-blue">shopping_cart</span>
                      </div>
                       <span class="text-primary font-weight-bold">49</span>
                    </div>

                    <div class="card dashboard">
                      <div class="card-inner dashboard">
                          <p class="text-primary">CLASS 4</p>
                          <span class="material-icons-outlined text-blue">notification_important</span>
                      </div>
                       <span class="text-primary font-weight-bold">29</span>
                    </div>

                    <div class="charts dashboard">
                      <div class="charts-card">
                        <p class="chart-title">Top 5 products</p>
                        <div id="area-chart"></div>
                      </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
        <script src="main.js" async defer></script>
    </body>
</html>