{% extends 'dashboard/wallet.html' %}

{% block content %}

<div class="main">
    <div class="wallet">
        <h1>Hello {{ user.username }}!</h1>
        
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
        </div>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="wallet-choices">
            <h3>Do you really wish to delete this transaction? This action is irreversible.</h3>
            <form method="POST" action="{% url 'manager:delete-transaction' %}">
                {% csrf_token %}
                <div class="transaction-button">
                    <button type="submit" class="transaction-del-button">Delete</button>
                    <a href="{% url 'manager:transactions' %}" class="general-form-canc">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}