{% extends 'dashboard/base.html' %}

{% block content %}

<div class="main">
    <div class="help-blocks">
        <div class="help-block">
            <div class="help-icon">
                <i class="fa-solid fa-question"></i>
            </div>
            <div class="help-content">
                <h3>FAQ</h3>
                <p>How to set up a wallet?</p>
                <p>How to delete a transaction?</p>
                <p>How to edit the currency type?</p> 
            </div>
        </div>
        <div class="help-block">
            <div class="help-icon">
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="help-content">
                <h3>Tutorials</h3>
                <a href="">YouTube channel</a>
            </div>
        </div>
        <div class="help-block">
            <div class="help-icon">
                <i class="fa-brands fa-github"></i>
            </div>
            <div class="help-content">
                <h3>Documentation</h3>
                <a href="https://github.com/kaelkkd/ept">Repository</a>
            </div>
        </div>
        <div class="help-block">
            <div class="help-icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="help-content">
                <h3>E-mail</h3>
                <p>mail@ept.com</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
